<h1>Upcoming Events</h1>
<% @upcoming_events.each do |upcoming| %>
    <%= render 'list_of_events', e: upcoming %>
<% end %>

<h1>Past Events</h1>
<% @past_events.each do |past| %>
    <%= render 'list_of_events', e: past %>
<% end %>

<h1>Attendees</h1>

<table border=1>
<% @attendances.each do |a| %>
    <tr>
        <td><%= a.user_id  %></td>
        <td><%= a.event_id %></td>
    </tr>
<% end %>
</table>